fieldset {
  margin-bottom: 0.5rem !important;
}

legend {
  font-size: medium !important;
}

#sm_comm {
  font-size: small !important;
  color: rgb(120, 120, 120);
}

#cards {
  width: auto;
}

i {
  color: #ffffff;
}
